@import 'variables';
@import 'mixins-functions';


.booking{
  padding: 128px;
  background-image: url('../img/image\ 6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  @include device(mobile){
    padding: 64px 20px;
  }

  &__text{
    text-align: center;
    display: grid;
    justify-items: center;

    span{
      color: $color1;
      font-weight: 500;
      font-size: rem(18);
      text-transform: capitalize;
    }

    h2{
      margin-bottom: 30px;
    }
  
    p{
      max-width: 60ch;
      margin-bottom: 30px;
    }
  }
}