* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: capitalize;
  border: 2px solid transparent;
  background-color: #2094e6;
  color: #fff;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #2094e6;
  border-color: #2094e6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title1 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.1;
}

.title2 {
  font-size: 2.8125rem;
  font-weight: 500;
  line-height: 3.75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position-y: center;
  padding: 0 20px;
  margin-bottom: 128px;
}
@media screen and (max-width: 1100px) {
  .header {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 950px) {
  .header {
    background-position: right 35% bottom 45%;
  }
}
.header__menu {
  height: 80px;
  justify-content: space-between;
}
.header__links {
  gap: 50px;
}
@media screen and (max-width: 950px) {
  .header__links {
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  .header__links {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    z-index: 5;
    transform: translateX(-100%);
    transition: 0.3s;
  }
}
.header__links.show {
  transform: translateX(0%);
}
.header__links a {
  color: #fff;
  text-transform: capitalize;
  position: relative;
  padding: 10px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1;
}
@media screen and (max-width: 950px) {
  .header__links a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 750px) {
  .header__links a {
    font-size: 1.5625rem;
    color: #000;
  }
}
.header__links a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: 0.3s;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.header__links a:hover::after {
  background-color: #fff;
}
.header__links li:last-child {
  margin-left: 80px;
}
@media screen and (max-width: 950px) {
  .header__links li:last-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 750px) {
  .header__links li:last-child {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
.header .mobile-menu {
  display: none;
}
@media screen and (max-width: 750px) {
  .header .mobile-menu {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    z-index: 10;
  }
  .header .mobile-menu .line {
    display: block;
    width: 30px;
    height: 3px;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 10px 0 currentColor, 0 -10px 0 currentColor;
  }
}
.header__intro {
  padding-top: 192px;
  padding-bottom: 136px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 750px) {
  .header__intro {
    padding-top: 50px;
    grid-template-columns: 1fr;
  }
}
.header__intro div {
  display: grid;
  justify-items: start;
  gap: 24px;
  color: #fff;
}

.about {
  display: grid;
  grid-template-columns: 7fr 5fr;
  padding-bottom: 256px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1100px) {
  .about {
    grid-template-columns: 1fr;
    gap: 80px;
    padding-bottom: 64px;
  }
}
.about__image {
  position: relative;
}
@media screen and (max-width: 750px) {
  .about__image {
    margin: 0 auto;
  }
}
.about__image img:first-child {
  border: 2px solid #e3dec1;
  padding: 10px;
  object-fit: cover;
  object-position: left;
}
.about__image img:last-child {
  position: absolute;
  bottom: -130px;
  right: 60px;
}
@media screen and (max-width: 1100px) {
  .about__image img:last-child {
    bottom: -30px;
    right: 10%;
  }
}
@media screen and (max-width: 750px) {
  .about__image img:last-child {
    display: none;
  }
}
.about__text {
  display: grid;
  justify-items: start;
  gap: 10px;
  max-width: 50ch;
}
@media screen and (max-width: 1100px) {
  .about__text {
    justify-self: center;
  }
}
@media screen and (max-width: 750px) {
  .about__text {
    grid-row: 1;
  }
}
.about__text h3 {
  color: #2094e6;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.aside {
  padding-bottom: 128px;
}
@media screen and (max-width: 950px) {
  .aside {
    padding-bottom: 64px;
  }
}
.aside .container {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 20px;
}
@media screen and (max-width: 950px) {
  .aside .container {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}
.aside__box {
  padding: 30px;
  display: grid;
  gap: 15px;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}
.aside__box h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2rem;
}
.aside__box p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
