* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h1 {
  font-size: 2rem;
  line-height: 2.1875rem;
}

.h2 {
  font-size: 1.5rem;
  line-height: 1.625rem;
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.375rem;
}

.h4 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.header {
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 24px 20px;
  }
  .header #buy {
    display: none;
  }
}
.header__menu {
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  flex-direction: column;
  position: fixed;
  top: 68px;
  left: 0;
  background-color: #F6EFEC;
  width: 100vw;
  padding: 25px 20px;
  transform: translateY(-200%);
  transition: 0.3s;
}
.header__nav.show {
  transform: translateY(0%);
}
@media screen and (min-width: 768px) {
  .header__nav {
    position: initial;
    top: unset;
    left: unset;
    background-color: unset;
    width: initial;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    transform: translateY(0%);
    padding: 0;
  }
}
.header__nav a {
  display: block;
  font-size: 1rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: 500;
  color: black;
}
@media screen and (min-width: 768px) {
  .header__nav a {
    margin-bottom: 0;
  }
}
.header .buy {
  color: #7D00EB;
  text-transform: uppercase;
  justify-content: start;
  font-weight: 800;
  gap: 8px;
  text-decoration: underline;
  cursor: pointer;
}
.header .mobile-menu {
  display: grid;
  place-items: center;
  height: 28px;
  width: 28px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header .mobile-menu {
    display: none;
  }
}
.header .mobile-menu .line {
  width: 20px;
  height: 1px;
  background-color: black;
  box-shadow: 0px 5px 0 black, 0 -5px 0 black;
}

.hero {
  display: grid;
  justify-items: center;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 68px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 128px;
  }
}
.hero p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7D00EB;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .hero p {
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
}
.hero h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
  max-width: 20ch;
}
@media screen and (min-width: 1024px) {
  .hero h1 {
    max-width: initial;
    font-size: 3rem;
    line-height: 2;
  }
}

.banner {
  padding: 0 20px;
  margin-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .banner {
    margin-bottom: 128px;
  }
}
.banner__text {
  display: grid;
  border: 2px solid #7D00EB;
}
@media screen and (min-width: 768px) {
  .banner__text {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.banner__text > div:first-child {
  padding: 80px 16px;
  text-align: center;
}
.banner__text > div:first-child h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .banner__text > div:first-child h2 {
    font-size: 6.25rem;
  }
}
.banner__text > div:first-child h2 span {
  font-weight: 700;
  color: #7D00EB;
  position: relative;
}
.banner__text > div:first-child h2 span::after {
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  background-color: #7D00EB;
}
.banner__text > div:first-child h3 {
  color: #7D00EB;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 40px;
}
.banner__text > div:last-child {
  padding: 16px;
  background-color: #7D00EB;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .banner__text > div:last-child {
    padding: 80px 50px;
  }
}
.banner__text > div:last-child p {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .banner__text > div:last-child p {
    padding: 40px 0;
  }
}
.banner__text > div:last-child div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__text > div:last-child div img {
  width: 74px;
}
.banner__text > div:last-child div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__text > div:last-child div ul li svg path {
  fill: #fff;
}

.speakers {
  background-color: #F6EFEC;
  padding: 32px 20px;
  margin-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .speakers {
    padding: 128px 20px;
    margin-bottom: 128px;
  }
}
.speakers hr {
  border-top: 1px solid #BF8260;
  position: relative;
  margin-bottom: 40px;
}
.speakers h2 {
  color: #BF8260;
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw, 4rem);
  letter-spacing: 1px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 1024px) {
  .speakers h2 {
    line-height: 1.2;
    max-width: 25ch;
  }
}
.speakers h2 .style {
  color: #F6EFEC;
  text-shadow: 0px 0px 1px #BF8260, 0px 0px 1px #BF8260, 0px 0px 1px #BF8260, 0px 0px 1px #BF8260, 0px 0px 1px #BF8260, 0px 0px 1px #BF8260, 0px 0px 1px #BF8260;
  font-weight: 700;
}
.speakers .arrow img {
  position: relative;
  transform: rotate(90deg);
  animation: moveRight 1s infinite alternate-reverse;
}
@keyframes moveRight {
  to {
    transform: rotate(90deg) translateY(-30px);
  }
}
.speakers .call {
  color: #BF8260;
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.speakers .text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8;
  padding-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .speakers .text {
    max-width: 75ch;
  }
}
.speakers__scroll {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  overflow-x: auto;
}
.speakers__person {
  flex-shrink: 0;
  width: 250px;
  position: relative;
  display: grid;
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .speakers__person {
    width: 280px;
  }
}
.speakers__person img {
  margin-bottom: 16px;
}
.speakers__person .category {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  left: 16px;
  top: 16px;
  color: #fff;
  padding: 8px 20px;
  display: grid;
  place-items: center;
  background-color: #7D00EB;
}
.speakers__person:nth-child(even) .category {
  background-color: #F3A100;
}
.speakers__person p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}
.speakers__person .name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
}
.speakers__person h4 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
}

.organizers {
  margin-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .organizers {
    margin-bottom: 128px;
  }
}
.organizers .container {
  display: grid;
}
@media screen and (min-width: 768px) {
  .organizers .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1150px) {
  .organizers .container {
    gap: 200px;
  }
}
.organizers__box {
  display: grid;
  gap: 16px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .organizers__box:nth-child(1) {
    background-color: #EAF0F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.organizers__box:nth-child(2) {
  background-color: #EAF0F2;
}
@media screen and (min-width: 768px) {
  .organizers__box:nth-child(2) {
    background-color: initial;
  }
}
.organizers__box h2 {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .organizers__box h2 {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .organizers__box h2 {
    font-size: 4rem;
  }
}
.organizers__box h2 strong {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .organizers__box h2 strong {
    font-size: 3.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .organizers__box h2 strong {
    font-size: 5.5rem;
  }
}
.organizers__box h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.organizers__box p {
  font-size: 0.875rem;
  line-height: 1.8;
}
.organizers__box .avatars {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
}
.organizers__box .avatars img {
  width: 40px;
  height: 40px;
}
.organizers__box .avatars .link {
  margin-left: auto;
}
.organizers__info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.organizers__info .job {
  font-size: 1.875rem;
  font-weight: 500;
}
.organizers .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.organizers .link img {
  width: 10px;
}
.organizers .link a {
  text-decoration: underline;
  text-transform: capitalize;
  color: #7D00EB;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.organizers .read-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .organizers .read-link {
    display: flex;
  }
}
.organizers .bottom-link {
  padding: 10px 20px 0;
}
@media screen and (min-width: 768px) {
  .organizers .bottom-link {
    display: none;
  }
}

.sponsor {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 64px;
  padding: 0 20px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .sponsor {
    grid-template-columns: 1fr 1.5fr;
  }
}
@media screen and (min-width: 1024px) {
  .sponsor {
    margin-bottom: 128px;
  }
}
@media screen and (min-width: 1300px) {
  .sponsor {
    padding: 0;
  }
}
.sponsor__text h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .sponsor__text h2 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .sponsor__text h2 {
    font-size: 3.9375rem;
  }
}
.sponsor__text p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .sponsor__text p {
    font-size: 1.5rem;
  }
}
.sponsor__text .link {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .sponsor__text .link {
    font-size: 1.5rem;
  }
}
.sponsor__grid {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .sponsor__grid {
    justify-self: end;
  }
}

.convinced {
  padding: 0 20px;
  margin-bottom: 64px;
  display: grid;
  gap: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .convinced {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
  }
}
@media screen and (min-width: 1024px) {
  .convinced {
    gap: 0 80px;
    text-align: left;
    margin-bottom: 128px;
  }
}
.convinced h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .convinced h2 {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .convinced h2 {
    text-align: center;
    font-size: 4rem;
  }
}
.convinced p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8;
}
.convinced > p {
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .convinced > p {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .convinced > p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 64px;
  }
}
.convinced__box {
  display: grid;
  gap: 10px;
  padding: 30px 10px;
}
@media screen and (min-width: 1024px) {
  .convinced__box {
    justify-content: start;
    padding: 72px;
  }
}
.convinced__box p,
.convinced__box span {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .convinced__box p,
.convinced__box span {
    font-size: 2.5rem;
  }
}
.convinced__box span {
  display: block;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .convinced__box span {
    font-size: 4rem;
  }
}
.convinced__box li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.6;
}
.convinced__box li img {
  width: 15px;
}
.convinced__box .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .convinced__box .link {
    justify-content: start;
  }
}
.convinced__box .link img {
  width: 15px;
}
.convinced__box:nth-of-type(1) {
  background-color: #F6EDFE;
  border-top: 4px solid #7D00EB;
}
.convinced__box:nth-of-type(1) .style {
  color: #F6EDFE;
  text-shadow: 0 0 1px #7D00EB, 0 0 1px #7D00EB, 0 0 1px #7D00EB, 0 0 1px #7D00EB, 0 0 1px #7D00EB;
}
.convinced__box:nth-of-type(1) .link a {
  color: #7D00EB;
}
.convinced__box:nth-of-type(2) {
  border-top: 4px solid #267A96;
  background-color: #EAF0F2;
}
.convinced__box:nth-of-type(2) span {
  color: #267A96;
}
.convinced__box:nth-of-type(2) .style {
  color: #EAF0F2;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.convinced__box:nth-of-type(2) li:nth-child(n+5) {
  color: rgba(38, 122, 150, 0.5);
}
.convinced__box:nth-of-type(2) li:nth-child(n+5) svg path {
  fill: #267a9650;
}
.convinced__box:nth-of-type(2) .link a {
  color: #267A96;
}

.footer {
  padding: 64px 20px 0px;
  background-color: #F6EFEC;
}
.footer .container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footer span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 8px;
}
.footer .link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .link a {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: underline;
}
.footer h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.footer__links {
  margin-bottom: 30px;
}
.footer__links li a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
}
.footer p:not(.copy) {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 40px;
}
.footer .circular {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer .circular {
    align-self: end;
  }
}
.footer__social {
  display: flex;
  transform: translateX(-15px);
}
@media screen and (min-width: 768px) {
  .footer__social {
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social {
    position: absolute;
    bottom: 90px;
    right: -30px;
  }
}
.footer .copy {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .footer .copy {
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer .copy {
    justify-self: end;
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=style.css.map */
