@import '../base/colors', '../base/mixins', '../base/functions';

.hero {
  padding: 20px;
  display: grid;
  overflow: hidden;
  @include device(tablet) {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
  @include device(desktop) {
    padding: 80px 20px;
    grid-template-columns: 450px auto;
    align-content: center;
    align-items: unset;
    gap: 80px;
  }

  &__intro {
    display: grid;
    @include device(desktop) {
      align-items: center;

      h1 {
        margin: 0;
      }
    }

    h3 {
      margin: 0;
      @media screen and (min-width:1400px) {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 108px;
          height: 461px;
          left: -110px;
          top: 20px;
          background-image: url(../assets/icons/Vector\ 1.png);
        }
      }
    }

    .cta {
      display: grid;
      gap: 25px;
      // transition: .3s;
      @include device(desktop) {
        grid-template-columns: 1fr 1.5fr;
      }

      & a:first-child:hover svg path {
        stroke: $text;
        stroke-width: 1px;
      }

      & a:last-child {
        gap: 8px;
        justify-self: center;
        font-weight: 500;
        font-size: rem(18);
        color: $text;
        line-height: rem(27);
      }
    }
  }

  &__img {
    display: none;
    @include device(tablet) {
      display: initial;
      position: relative;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        width: 267px;
        height: 267px;
        position: absolute;
        top: 45%;
        right: 5%;
        z-index: -1;
        background-image: url(../assets/images/Titik-titik2.png);
        background-repeat: no-repeat;
        @media screen and (min-width:1100px) {
          width: 512px;
          height: 512px;
          top: 20%;
          right: -10%;
          background-image: url(../assets/images/Titik-titik.png);
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
    }
  }
}
