* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.header {
  height: 100px;
  display: grid;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menus {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: auto;
}
@media screen and (max-width: 950px) {
  .header__menus {
    position: fixed;
    padding: 0;
    top: -16px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
  }
}
.header__menus.active {
  transform: translateX(0);
}
.header__menus a {
  position: relative;
  font-size: 1rem;
  text-transform: capitalize;
  color: #000;
}
@media screen and (max-width: 950px) {
  .header__menus a {
    font-size: 1.75rem;
  }
}
.header__menus a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
  position: absolute;
}
.header__menus a:hover::after {
  width: 80%;
}
.header__search {
  padding-left: 64px;
}
@media screen and (max-width: 950px) {
  .header__search {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .header .mobile-menu {
    z-index: 10;
    right: 30px;
    top: 50px;
    display: block;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
  }
  .header .mobile-menu .line {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    display: block;
    background-color: #000;
    box-shadow: 0px 10px 0px #000, 0 -10px 0px #000;
  }
}

.main {
  background-color: #f8f8f8;
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 950px) {
  .main .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.main__text h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  text-transform: capitalize;
  padding-bottom: 30px;
}
@media screen and (max-width: 950px) {
  .main__text h1 {
    padding-top: 80px;
    text-align: center;
  }
}
.main__text .intro-text {
  display: flex;
  align-items: center;
}
.main__text .intro-text img {
  width: 70px;
  height: 70px;
  transform: translateX(-15px);
}
@media screen and (max-width: 950px) {
  .main__text .intro-text img {
    transform: translateX(0);
  }
}
.main__text .intro-text p {
  max-width: 30ch;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 30px;
}
@media screen and (max-width: 950px) {
  .main__img {
    width: 300px;
  }
}

.intro {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
@media screen and (max-width: 950px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
  }
}
.intro__text {
  display: grid;
  gap: 20px;
}
@media screen and (max-width: 950px) {
  .intro__text {
    grid-row: 1;
  }
}
.intro__text h2 {
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 10px;
}
.intro__info {
  position: relative;
}
.intro__info h3 {
  font-size: 1.125rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 10px;
}
.intro__info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  max-width: 40ch;
}
.intro__info .icon img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0px;
  left: -50px;
}
@media screen and (max-width: 600px) {
  .intro__info .icon img {
    position: initial;
    margin-bottom: 10px;
    transform: translateX(-2px);
  }
}
.intro__img {
  justify-self: center;
  box-shadow: 0px 4px 30px #e5e5e5;
  position: relative;
}
.intro__img::after {
  content: "View Detail";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #fff;
  width: 163px;
  height: 60px;
  border-top-right-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 1.125rem;
}

/*# sourceMappingURL=style.css.map */
