.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px 13px;
  border-radius: 4px;
  color: $main;
  border: 2px solid $main;
  transition: 0.3s;
  @include device(desktop) {
    &:hover {
      background-color: $main;
      color: $white;

      svg path{
        stroke: $white;
      }
    }
  }
}

.blue-btn {
  background-color: $main;
  color: $white;
  transition: 0.3s;
  @include device(desktop) {
    &:hover {
      background-color: $white;
      border-color: $main;
      color: $main;
    }
  }
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 60px auto;
  @include device(desktop) {
    margin: 160px auto;
  }
}
