* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding-bottom: 120px;
  }
}

.btn {
  background-color: #FCD900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 10px 25px;
}

.help {
  display: flex;
  align-items: center;
  gap: 8px;
}
.help p {
  font-size: 0.875rem;
}

h1 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.375rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.27;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.13;
}
@media screen and (min-width: 1024px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.33;
  }
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.56;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.light-p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1024px) {
  .light-p {
    font-size: 1.125rem;
  }
}

.light-s {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.header {
  padding: 20px 20px 0;
}
@media screen and (min-width: 1024px) {
  .header {
    border-bottom: 1px solid #00000020;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header__superior-bar {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
.header__superior-bar .help,
.header__superior-bar .lang {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__superior-bar .help,
.header__superior-bar .lang {
    display: flex;
    align-items: center;
  }
  .header__superior-bar .help p,
.header__superior-bar .help a,
.header__superior-bar .lang p,
.header__superior-bar .lang a {
    font-size: 0.75rem;
  }
}
.header__superior-bar .help {
  gap: 10px;
}
.header__superior-bar .help p {
  line-height: 14px;
}
.header__superior-bar .lang div {
  flex-direction: column;
  margin-left: 6px;
}
.header__superior-bar .lang div p {
  line-height: 10px;
}
.header__superior-bar .logo {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header__superior-bar .logo {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(60px);
  }
}
.header__superior-bar .logo .mobile-menu {
  border: none;
  background-color: transparent;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.header__superior-bar .logo .mobile-menu .line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: black;
  box-shadow: 0 10px 0 black, 0 -10px 0 black;
}
@media screen and (min-width: 1024px) {
  .header__superior-bar .logo .mobile-menu {
    display: none;
  }
}
.header__superior-bar .social {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__superior-bar .social {
    display: flex;
    position: initial;
    align-items: center;
    margin-right: 45px;
  }
}
.header__superior-bar .social li a {
  display: block;
  padding: 15px;
  margin: 10px 0;
}
@media screen and (min-width: 1024px) {
  .header__superior-bar .social li a {
    padding: 0 20px;
    margin: 0;
  }
}

.nav {
  position: absolute;
  background-color: #FFFFFF;
  width: 100vw;
  height: calc(100vh - 80px);
  transform: translateX(-100%);
  z-index: 10;
  transition: 0.3s;
}
.nav.active {
  transform: translateX(0%);
}
@media screen and (min-width: 1024px) {
  .nav {
    position: initial;
    height: auto;
    width: auto;
    transform: translateX(0%);
    z-index: 10;
  }
}
.nav ul {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 18px;
  }
}
.nav ul li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1024px) {
  .nav ul li + li {
    border-top: none;
  }
}
.nav ul a {
  display: block;
  padding: 20px 0;
  font-size: 1.4rem;
}
@media screen and (min-width: 1024px) {
  .nav ul a {
    font-size: 1.125rem;
    padding: 0;
  }
}

.intro {
  background-image: url(../assets/images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 20% top;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  min-height: 50vh;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .intro {
    background-color: unset;
    background-image: url(../assets/images/bg3.jpg), linear-gradient(to right, #fff, #ffffff00);
    margin-bottom: 120px;
  }
}
.intro .container {
  display: grid;
  align-items: center;
  min-height: 80vh;
}
@media screen and (min-width: 1024px) {
  .intro .container {
    grid-template-columns: 1fr 1fr;
    background-position: center right;
    align-items: center;
  }
}
.intro__text {
  grid-column: 1/2;
  max-width: 45ch;
  display: grid;
  justify-items: left;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .intro__text {
    width: 100%;
    max-width: 100ch;
    gap: 45px;
  }
}
.intro__text h1 {
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 700;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .intro__text h1 {
    font-size: 3.125rem;
  }
}
.intro__text h1 span {
  position: relative;
  display: inline-block;
}
.intro__text h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 8px;
  background-color: #FCD900;
  display: block;
  z-index: -1;
}
.intro__text p {
  max-width: 30ch;
}
@media screen and (min-width: 1024px) {
  .intro__text p {
    max-width: 75ch;
  }
}
@media screen and (min-width: 1024px) {
  .intro__cta {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.intro__cta .btn {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .intro__cta .btn {
    margin-bottom: 0px;
  }
}
.intro__cta .help {
  display: flex;
}

.main {
  background-image: url("../assets/images/Background (2).png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media screen and (min-width: 1024px) {
  .main {
    background-size: 100% 50%;
  }
}
.main .container {
  display: grid;
  gap: 60px;
}
@media screen and (min-width: 1024px) {
  .main .container {
    padding-bottom: 10px;
  }
}
.main .container h2 .highlight {
  position: relative;
  z-index: 1;
}
.main .container h2 .highlight::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FCD900;
  bottom: 5px;
  left: 0;
  z-index: -1;
}
.main__are {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main__are {
    grid-template-columns: 1.5fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .main__are {
    grid-template-columns: 7fr 5fr;
    gap: 100px;
  }
}
.main__are .info {
  display: grid;
  justify-items: left;
  gap: 20px;
}
.main__are .info > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__are .info > div a {
  text-decoration: underline;
}
.main__are .features {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .main__are .features {
    align-self: end;
  }
}
@media screen and (min-width: 1024px) {
  .main__are .features {
    padding-top: 50px;
  }
}
.main__are .features .item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main__are .features .item h4 {
  margin-bottom: 10px;
}
.main__are .features .item p {
  max-width: 30ch;
}
.main__do {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main__do {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .main__do {
    grid-template-columns: 3fr 2fr;
    gap: 100px;
  }
}
.main__do .text {
  display: grid;
  gap: 20px;
}
.main__do .feature {
  display: flex;
  gap: 20px;
  align-items: center;
}

.tab-nav {
  border-top: 1px solid #dfdfdf;
}
.tab-nav .container {
  display: grid;
  gap: 30px;
  padding-top: 20px;
}
.tab-nav__seletors {
  display: flex;
  justify-content: space-between;
  transform: translateY(62px);
}
@media screen and (min-width: 1024px) {
  .tab-nav__seletors {
    justify-content: start;
    transform: translateY(11px);
  }
}
.tab-nav__seletors .seletor {
  padding: 15px;
  display: grid;
  justify-items: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .tab-nav__seletors .seletor {
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .tab-nav__seletors .seletor {
    cursor: pointer;
  }
}
.tab-nav__seletors .seletor.active {
  background-color: #FFFFFF;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.tab-nav__seletors .seletor img {
  width: 30px;
  height: 30px;
}
.tab-nav__seletors .seletor p {
  display: none;
}
@media screen and (min-width: 768px) {
  .tab-nav__seletors .seletor p {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.2;
    text-align: center;
    max-width: 15ch;
  }
}
.tab-nav__content {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .tab-nav__content {
    grid-template-columns: 2fr 1fr;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .tab-nav__content {
    gap: 100px;
  }
}
.tab-nav__content .seletor-content {
  display: none;
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}
.tab-nav__content .seletor-content.active {
  display: block;
  animation: show 0.5s forwards;
}
@keyframes show {
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}
@media screen and (min-width: 1024px) {
  .tab-nav__content .seletor-content h3 {
    padding-top: 50px;
  }
}
.tab-nav__content .seletor-content p {
  padding: 20px 0;
}
.tab-nav__content .seletor-content .images {
  display: grid;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .tab-nav__content .seletor-content .images {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tab-nav__content .seletor-content .images h5 {
  text-align: center;
  padding-top: 10px;
}
.tab-nav__content .contact {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .tab-nav__content .contact {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .tab-nav__content .contact {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
}
.tab-nav__content .contact span {
  display: block;
}
.tab-nav__content .contact .meeting {
  display: flex;
  gap: 80px;
  background-color: #fafafa;
  padding: 10px;
  border-bottom: 2px solid #FCD900;
}
@media screen and (min-width: 768px) {
  .tab-nav__content .contact .meeting {
    grid-column: 2/3;
  }
}
.tab-nav__content .contact .meeting .indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #28cba4;
  border-radius: 50%;
}
.tab-nav__content .contact .meeting span {
  display: block;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .tab-nav__content .contact h4 {
    grid-row: 1;
  }
}
.tab-nav__content .contact .phone,
.tab-nav__content .contact .mail {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*# sourceMappingURL=style.css.map */
