@import '../base/mixins', '../base/colors', '../base/functions';

.organizers {
  margin-bottom: 64px;
  @include device(desktop){
    margin-bottom: 128px;
  }

  .container {
    display: grid;
    @include device(tablet){
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width:1150px) {
      gap: 200px;
    }
  }

  &__box {
    display: grid;
    gap: 16px;
    padding: 20px;

    &:nth-child(1){
      @include device(tablet){
        background-color: $blue-pastel;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    
    &:nth-child(2) {
      background-color: $blue-pastel;
      @include device(tablet){
        background-color: initial;
      }
    }

    h2 {
      position: relative;
      font-weight: 500;
      font-size: rem(24);
      line-height: 1.2;
      text-transform: capitalize;
      @include device(tablet){
        font-size: rem(44);
      }
      @include device(desktop){
        font-size: rem(64);
      }

      strong {
        font-size: rem(32);
        font-weight: 700;
        @include device(tablet){
          font-size: rem(58);
        }
        @include device(desktop){
          font-size: rem(88);
        }
      }
    }

    h3 {
      font-size: rem(32);
      font-weight: 700;
      line-height: 1.2;
    }

    p {
      font-size: rem(14);
      line-height: 1.8;
    }

    .avatars {
      display: flex;
      align-items: center;
      overflow-x: auto;
      gap: 5px;

      img {
        width: 40px;
        height: 40px;
      }

      .link {
        margin-left: auto;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;

    .job {
      font-size: rem(30);
      font-weight: 500;
    }
  }

  .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 10px;
    }

    a {
      text-decoration: underline;
      text-transform: capitalize;
      color: $purple;
      font-size: rem(20);
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .read-link {
    display: none;
    @include device(tablet){
      display: flex;
    }
  }

  .bottom-link {
    padding: 10px 20px 0;
    @include device(tablet){
      display: none;
    }
  }
}
