@import '../../base/mixins', '../../base/colors', '../../base/functions';

.form {
  margin-top: 20px;

  form {
    label {
      display: block;
      font-weight: 600;
      font-size: rem(14);
      line-height: rem(21);
      margin-bottom: 10px;
    }

    input {
      display: block;
      height: 48px;
      width: 100%;
      margin-bottom: 16px;
      font-family: inherit;
      padding: 8px 16px;
      border: 1px solid #767676;
      border-radius: 4px;
    }

    textarea {
      width: 100%;
      margin-bottom: 16px;
      font-family: inherit;
      padding: 8px 16px;
      border: 1px solid #767676;
      border-radius: 4px;
    }

    .btn {
      display: flex;
      align-items: center;
      border: none;
      font-family: inherit;
      font-size: rem(14);
      line-height: rem(21);
      cursor: pointer;
      margin: 0 auto;
      border: 1px solid $main;
    }
  }
}

.faq {
  &__text {
    h2 {
      font-size: rem(40);
      font-weight: 700;
      line-height: rem(60);
      margin-top: 16px;
    }

    h3 {
      margin: 0;
    }

    p {
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }

  &__area {
    div {
      padding: 20px;
      border: 1px solid $main;
      border-radius: 4px;
      margin-bottom: 35px;
    }

    dt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      button {
        cursor: pointer;
        font-family: inherit;
        font-size: rem(16);
        font-weight: 500;
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: left;
      }
    }

    dd {
      overflow: hidden;
      margin-left: 0;
      color: rgba(14, 14, 44, 0.6);
      height: 0;
      transition: 0.3s;
      
      &.show{
        margin-top: 20px;
        height: 100px;
      }
    }
  }

  @keyframes rotateIcon {
    to{
      transform: rotate(360deg);
    }
  }
}

