@use 'functions' as f;
@use 'variables' as v;

.about{

  img{
    height: 100%;
  }

  &__carossel{
    height: 230px;
    position: relative;
    overflow: hidden;
    // max-width: 360px;
    &:hover{
      cursor: grab;
    }
    
    .carossel-container{
      padding: 1rem;
      display: flex;
      justify-items: center;
      gap: 1rem;
    }

    .carossel-item{
      flex: 1 0 340px;
      height: 200px;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      user-select: none;
      
      .info-slide{
        padding: 1rem;
        background-color: transparentize($color: #000000, $amount: .3);
        color: v.$color-1;
        text-align: center;
        position: absolute;
        top: 0px;
        bottom: 0px;

        h3{
          margin-bottom: 1rem;
        }

        p{
          font-size: f.rem(12);
          margin-bottom: 1rem;
        }
      }
    }

    .buttons{
      width: 85%;
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      
      button{
        border: none;
        background-color: v.$color-1;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      button:first-of-type svg{
        transform: rotate(180deg);
      }
    }
  }
}