@use 'functions' as f;
@use 'variables' as v;
@use 'mixins' as m;

.about{

  @include m.device(tablet){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 60px;
    &.container{
      margin: 60px auto;
    }
  }

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__carossel{
    position: relative;
    max-width: 450px;
    margin: 24px auto;
    &:hover{
      cursor: grab;
    }
    @include m.device(tablet){
      grid-column: 1/-1;
      max-width: 100%;
      height: 300px;
    }
    @include m.device(desktop){
      height: 400px;
    }
    
    .carossel-container{
      height: 230px;
      overflow: hidden;
      display: flex;
      @include m.device(tablet){
        width: inherit;
        height: inherit;
      }

      .carossel-item{
        width: 100%;
        transition: .3s;
        flex: 1 0 auto;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        user-select: none;
        &:first-child{
          margin-left: -100%;
        }
        
        .info-slide{
          padding: 1rem;
          background-color: transparentize($color: #000000, $amount: .3);
          color: v.$color-1;
          text-align: center;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
  
          h3{
            margin-bottom: 1rem;
          }
  
          p{
            font-size: f.rem(12);
            margin-bottom: 1rem;
          }
        }
        
        @include m.device(tablet){
          display: grid;
          grid-template-columns: repeat(3,1fr);
          border-radius: 60px;
          
          & picture{
            grid-column: 1/-1;
            width: 100%;
          }
          
          .info-slide{
            grid-column: 1/3;
            background-color: unset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 100px;
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 80%, transparent 100%);

            h4{
              font-size: f.rem(18);
            }

            h3{
              font-size: f.rem(36);
            }

            p{
              font-size: f.rem(14);
            }
          }
        }

        @include m.device(desktop){
          .info-slide{
            p{
              max-width: 40ch;
            }
          }
        }
      }
    }
    
    .dots{
      max-width: 90%;
      height: 10px;
      position: absolute;
      bottom: 28px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      gap: 4px;

      .dot{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: transparentize($color: #fff, $amount: .5);
        transition: .3s;
        &.active{
          width: 16px;
          border-radius: 6px;
          background-color: v.$color-1;
        }
      }
    }

    .buttons{
      width: 85%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      @include m.device(tablet){
        width: 100%;
        bottom: 40%;
        left: 0%;
        transform: translateX(0%);
        justify-content: center;
        gap: 85%;
      }
      
      button{
        border: none;
        background-color: v.$color-1;
        cursor: pointer;
        width: 29px;
        height: 29px;
        border-radius: 50%;
      }

      button:first-of-type svg{
        transform: rotate(180deg);
      }
    }
  }
}