@use 'functions' as f;
@use 'variables' as v;
@use 'mixins' as m;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Space Grotesk', sans-serif;
  // background-image: url(../img/noise-bg.png);
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}

body, h1, h2, h3, h4, p, li, ul, a{
  margin: 0px;
  padding: 0px;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.hidde{
  @media screen and (max-width:767px) {
    display: none !important;
  }
}

img{
  max-width: 100%;
  display: block;
}

.section-title{
  font-style: f.rem(12);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
  color: v.$color-3;
  text-decoration: underline;
  margin-bottom: 1rem;
  padding: 0px 1rem;
}

.section-subtitle{
  font-size: f.rem(20);
  font-weight: 600;
  line-height: 26px;
  color: v.$color-2;
  padding: 0px 1rem;
}

.text{
  font-size: f.rem(14);
  font-weight: 400;
  line-height: 16px;
  color: v.$color-5;
  margin: 1rem 0px;
  padding: 0px 1rem;
}