@use 'functions' as f;
@use 'variables' as v;
@use 'mixins' as m;

.footer{

  &__mobile{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    padding: 1rem;

    .links{
      grid-column: 1/2;
      grid-row: 2/4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 27px;
    }

    .social{
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      gap: 24px;

      li{
        cursor: pointer;
      }
    }

    .adress{
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: f.rem(12);
      font-style: normal;
      font-weight: 400;
    }

    .phones{
      grid-column: 2/3;
      grid-row: 3;
      font-size: f.rem(14);
      font-weight: 400;

      li{
        display: inline-block;
        padding: .2rem 0px;
      }

      a{
        color: v.$color-2;
      }
    }

    .credits{
      grid-column: 1/-1;
      grid-row: 4;
      text-align: center;
      border-top: 1px solid v.$color-2;
      
      p{
        margin-top: 1rem;
        font-size: f.rem(12);
        display: inline-block;
      }
    }
  }

  &__desktop{
    @include m.device(tablet){
      .links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 40px;
        text-transform: capitalize;
        
        
        h3{
          color: v.$color-2;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

        li{
          padding: 5px 0px;
        }

        a{
          color: v.$color-2;
          font-size: f.rem(14);
        }

        address{
          font-style: normal;
          font-size: f.rem(14);
          color: v.$color-2;
        }
      }
    }
    @include m.device(desktop){
      .links{
        grid-template-columns: repeat(6,1fr);

        h3{
          margin-bottom: 40px;
        }

        li{
          padding: 10px 0px;
        }
      }
    }

    .credits{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid v.$color-2;
      padding: 20px 0px;

      .social{
        display: flex;
        gap: 24px;

        li{
          cursor: pointer;
        }
      }
    }
  }
}