@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

.hero {
  display: grid;
  justify-items: center;
  position: relative;

  &__info {
    position: absolute;
    top: 0px;
    bottom: 0px;
    color: v.$color-1;
    background-color: transparentize($color: #000000, $amount: 0.5);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    z-index: 1;
    @include m.device(tablet) {
      border-radius: 35px;
    }

    h1 {
      font-size: f.rem(22);
      @include m.device(tablet) {
        font-size: f.rem(60);
      }
    }

    p {
      font-size: f.rem(12);
      @include m.device(tablet) {
        font-size: f.rem(16);
        max-width: 50ch;
        margin: 0 auto;
      }
      @include m.device(desktop) {
        font-size: f.rem(20);
        max-width: 50ch;
        margin: 50px auto 0px;
      }
    }

    .who {
      color: v.$color-3;
      text-decoration: underline;
      @include m.device(tablet) {
        font-size: f.rem(20);
      }
    }
  }
}
