@use 'mixins' as m;
@use 'functions' as f;
@use 'variables' as v;

header {
  // height: 0px;
  transition: 0.2s ease-in-out;
  z-index: 10;

  &.active {
    background-image: url(../img/mobile/menu-bg.png);
    min-height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: v.$color-2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    &__mobile-logo {
      @media screen and (min-width: 764px) {
        display: none;
      }
    }

    &__mobile-close {
      display: none;
      @media screen and (max-width: 764px) {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid v.$color-5;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    &__menu-btn {
      display: none;
      @media screen and (max-width: 764px) {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: f.rem(14);
        font-weight: 500;
        font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
        line-height: f.rem(16);
        text-transform: uppercase;
      }
    }

    &__menu {
      display: flex;
      // overflow-y: hidden;

      li {
        a {
          width: 30%;
          color: v.$color-2;
        }
        &.lang {
          padding: 24px 0px;
          text-transform: uppercase;
          color: v.$color-3;
          cursor: pointer;
          position: relative;
          user-select: none;
          &.active .lang-submenu {
            top: 40px;
            opacity: 1;
            visibility: visible;
          }

          .lang-submenu {
            position: absolute;
            top: 0px;
            left: -40px;
            height: 0px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            z-index: 10;
            padding: 20px 0px;
            transform: translateX(-20px);
            @media screen and (max-width:764px) {
              left: 0px;
            }

            li {
              background-color: v.$color-1;
              padding: 10px 20px;
            }
          }
        }
      }
      //menu mobile version
      @media screen and (max-width: 764px) {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 115px;
        width: calc(100% - 48px);

        .logo {
          display: none;
        }

        li {
          a {
            color: v.$color-1;
            font-weight: 500;
            font-size: f.rem(16);
            line-height: f.rem(20);
            text-transform: uppercase;
            padding: 14px 0;
            display: block;
          }
        }
      }
      //menu tablet and desktop
      @media screen and (min-width: 764px) {
        position: initial;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
      }

      .social {
        display: none;
        //mobile version
        @media screen and (max-width: 764px) {
          display: initial;
          margin-top: 10px;
          border-top: 1px solid v.$color-5;
          padding: 24px 0px;

          p {
            text-align: center;
            color: v.$color-5;
          }

          & > div {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-top: 24px;
          }
        }
      }
    }
  }
}
