@use 'mixins' as m;
@use 'functions' as f;
@use 'variables' as v;

header {
  // height: 0px;
  transition: .2s ease-in-out;
  &.active {
    background-image: url(../img/mobile/menu-bg.png);
    min-height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: v.$color-2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    z-index: 10;

    &__mobile-close{
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid v.$color-5;
      border-radius: 10px;
      cursor: pointer;
    }

    &__menu-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: f.rem(14);
      font-weight: 500;
      font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
      line-height: f.rem(16);
      text-transform: uppercase;
      @include m.device(desktop) {
        display: none;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 115px;
      width: calc(100% - 48px);

      &[hidden] {
        display: none;
      }

      .logo {
        display: none;
      }

      li {
        a, p {
          color: v.$color-1;
          font-weight: 500;
          font-size: f.rem(16);
          line-height: f.rem(20);
          text-transform: uppercase;
          padding: 24px 0;
          display: block;
        }

        &.lang {
          
          &__subitem {
            // transform: rotateX(90deg);
            // transition: all .3s;
            cursor: pointer;
            a {
              color: v.$color-3;
            }
          }
        }
      }

      .social{
        margin-top: 40px;
        border-top: 1px solid v.$color-5;
        padding: 24px 0px;

        p{
          text-align: center;
          color: v.$color-5;
        }

        & > div{
          display: flex;
          justify-content: center;
          gap: 24px;
          margin-top: 24px;
        }
      }
    }
  }
}
